**/__pycache__
**/.venv
**/*.pth
**/*.txt
!requirements.txt
**/*.so
**/*.o
**/*.c
**/*.html
!interp/examples/*.html
scratchpad/
checkpoints/
runs/
interp/data/
backups/
gamelog.md
*.tar.gz
tests/18xx_games/data/*.json
